mixin comment(type, comment=null)
  if comment || type != "view"
    .callout.grid-y
      .grid-x.align-justify.cell.align-middle
        p.cell.small-3
          span.font-bold
            if type == "new"
              = currentUser.userName
            else
              = comment.creator.userName
          span 
            | says:
        .cell.shrink.grid-y
          if comment 
            small.cell= moment(comment.createdAt).calendar()
            if comment.updatedAt
              small.cell
                | Edited: 
                = moment(comment.updatedAt).calendar()
        if type == "view"
          .cell.small-3.grid-x.grid-margin-x.align-right
            if currentUser._id.equals(comment.creator._id)
              a.cell.shrink.button.small.warning.margin-bottom-0(href=urlFor("task-comment-edit.get", { taskId: task.numberId, commentId: comment._id }))
                i.fas.fa-edit
              form.cell.shrink(method="post" action=urlFor("task-comment-delete.post", { taskId: task.numberId, commentId: comment._id }))
                button.button.small.alert.margin-bottom-0(type="submit")
                  i.fas.fa-trash
      .cell.padding-horizontal-1
        if type == "view"
          p.cell= comment.text
        else
          form(
            method="post",
            action=urlFor(
              type == "edit" ? "task-comment-edit.post" : "task-comment-new.post",
              { taskId: task.numberId, commentId: comment && comment._id }))
            textarea.cell(placeholder="Enter comment..." name="comment" rows="3" required)
              if type == "edit"
                = comment.text
              else if type == "new"
                = values.comment
            span.cell.form-error(class={'is-visible': !!errors.comment})= errors.comment
            .cell
              button.button.success(type="submit") Save
              if type == "edit"
                a.button.margin-left-2.alert(href=urlFor('task-view.get', { id: task.numberId })) Cancel

