extends ../base

block append css
  link(rel="stylesheet" href="/css/pages/errors.css")

block aside-menu
  |

block content
  .content.grid-x.align-center-middle.text-center
    .cell
      h1.padding-top-3.text-center Fatal errors occured
      .grid-x.align-center
        .cell.small-6
          include ../includes/partials/base-errors
      h3.text-center
        | Return to 
        a(href=urlFor('index.get')) index page
