extends ../base

block append css
  link(rel="stylesheet" href="/css/pages/not-found.css")

block aside-menu
  |

block content
  .content.grid-x.align-center-middle.text-center
    .cell
      h1.padding-top-3.text-center Page 404
      h2.text-center= entity ? `Entity ${entity} is not found` : 'This page is Not Found'
      h3.text-center 
        | Return to 
        a(href=urlFor('index.get')) index page
    
