extends ../base

block append css
  link(rel="stylesheet" href="/css/pages/not-authorized.css")

block aside-menu
  |

block content
  .content.grid-x.align-center-middle.text-center
    .cell
      h1.padding-top-3.text-center Access denied
      h3.text-center 
        | Return to 
        a(href=urlFor('index.get')) index page
