extends ../base

block append js
  script(src="/vendor/tagify/js/tagify.min.js")

block append onLoadJs
  script
    | var input = document.querySelector('#tags');
    | new Tagify(input)

block declarations
  - var formId = 'filters'

block append css
  link(rel="stylesheet" href="/css/pages/task-search.css")

block left-side-menu
  .cell.small-2.padding-1.filters
    h2.text-center Filters
      include ../includes/partials/task-search-filter

block content
  .content
    form(action=urlFor("task-search.get") method="get" id=formId)
      .grid-y
        h1.padding-bottom-2.text-center Search tasks
        .grid-x.grid-margin-x.align-center
          .cell.small-4
            input(type="text" placeholder="Enter phrase" name="text" value=queryValues.text)
          .cell.small-2
            button.button.primary(type="submit")
              | Search
        .grid-x.grid-margin-x.align-center.padding-bottom-3
          .cell.small-6
            .grid-y.grid-padding-y
              each error in baseErrors
                .callout.small.alert
                  p= error
        if tasks
          .grid-y.grid-margin-y
            each task in tasks
              include ../includes/partials/task-card
