extends ../base

block append js
  script(src="/vendor/tagify/js/tagify.min.js")

block append onLoadJs
  script
    | var input = document.querySelector('#task-tags');
    | new Tagify(input)

block content
  include ../includes/partials/task-new-form
