extends ../base

block append js
  script(src="/vendor/tagify/js/tagify.min.js")

block append css
  link(rel="stylesheet" href="/css/pages/task.css")

block append onLoadJs
  if edit
    script
      | var input = document.querySelector('#tags');
      | new Tagify(input)

mixin task-view(task)
  .grid-x
     .cell.auto
       .content.grid-y
         include ../includes/partials/task
       include ../includes/partials/attachment-new-modal
     .cell.small-2.padding-1.task-aside
       include ../includes/partials/task-aside

block content
  if edit 
    form(method="post" action=urlFor("task-edit.post", { id: task.numberId })).main-wrapper
      +task-view(task)
  else
    .main-wrapper
      +task-view(task)

