@import "./partials/header"
@import "./partials/aside-menu"
@import "./partials/footer"

.content-wrapper
  min-height: 100%

.main-wrapper
  min-height: 100%
  min-width: 100%

.content
  @include padding(1, 1, 1, 1)

.body
  background-color: $background
