ul.vertical.menu(data-accordion-menu data-submenu-toggle="true")
  li
    a(href="#") Tasks
    ul.menu.vertical.nested
      li: a(href=urlFor("task-search.get")) Search
      li: a(href=urlFor("task-new.get")) Create

