.grid-x.cell.align-center-middle.text-center
  .cell.developer
    | Made by Valerich
  .cell
    .text-center
      a(href="https://github.com/ValeryKameko").icon-link
        i.fab.fa-github.fa-fw.fa-2x
      a(href="https://gitlab.com/ValeryKameko").icon-link
        i.fab.fa-gitlab.fa-fw.fa-2x

