doctype html

include ./includes/scripts/form-base

block declarations

html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    |
    block title
      title Task management Application
    |
    block js
      script(src="/vendor/fontawesome/js/all.min.js")
      script(src="/vendor/jquery/js/jquery.min.js")
      script(src="/vendor/foundation/js/foundation.min.js")
    |
    block css
      link(rel="stylesheet" href="/vendor/foundation/css/foundation.min.css")
      link(rel="stylesheet" href="/vendor/foundation/css/foundation-prototype.min.css")
      link(rel="stylesheet" href="/vendor/tagify/css/tagify.css")
      link(rel="stylesheet" href="/css/main.css")
      link(rel="stylesheet" href="/css/layout.css")
  |
  body.body
    header.header
      include includes/header
    |
    main.body__content.grid-x
      block main
        .main-wrapper.grid-x
          if currentUser
            block aside-menu
              aside.aside-menu.cell.small-2.padding-1
                include includes/aside-menu
          .content-wrapper.cell.auto
            block content
          block left-side-menu
    |
    footer.footer
      include includes/footer
    |
    block onLoadJs
      script
        | $(document).foundation();
