if attachment
  .grid-x.grid-padding-x.align-justify.align-middle.attachment.margin-bottom-1
    .text-center.cell.small-4= attachment.viewName
    .cell.small-4= attachment.viewFileName
    |
    a.margin-0.button.cell.shrink.success(target="_blank", href=urlFor("attachment-download.get", { attachmentId: attachment._id }))
      i.fas.fa-download
    |
    form(action=urlFor("task-attachment-delete.post", { taskId: task.numberId, attachmentId: attachment._id }) method="post").cell.shrink
      button.margin-0.button.alert(type="submit")
        i.fas.fa-trash
