#attachmentNewModal.reveal.padding-1(data-reveal)
  button.close-button(type="button" data-close aria-label="Close modal")
    span(aria-hidden="true") &times;
  h1.text-center.padding-bottom-2 New Attachment
  form(
    action=urlFor('task-attachment.post', { taskId: task.numberId })
    method="post" enctype="multipart/form-data").grid-y.grid-margin-y.align-justify.padding-horizontal-1
    |
    label.font-bold(for="attachmentName") Attachment name
    input.cell.margin-1(type="text" name="name" placeholder="Attachment name" required)
    label.cell.button.primary
      | Choose file
      input.show-for-sr(type="file" name="file" required)
    button.button.success(type="submit") Create
