form(action=urlFor("login.post") method="post")
  .grid-container
    .grid-y.grid-padding-y
      include ./base-errors
      .cell.small-6
        label
          | Username
          input(type="text" placeholder="Username" name="userName", value=values.userName)
          span.form-error(class={ 'is-visible': !!errors.userName })= errors.userName
      .cell.small-6
        label
          | Password
          input(type="password" placeholder="Password" name="password")
          span.form-error(class={ 'is-visible': !!errors.password })= errors.password
      .grid-x.grid-margin-x.align-center
        .cell.auto.text-center
          button.button.success(type="submit")
            | Log in
        .cell.auto.text-center
          a.button.warning(href=urlFor('register.get'))
            | Register
