form(action=urlFor("register.post"), method="post")
  .grid-container
    .grid-y.grid-padding-y
      each error in baseErrors
        .callout.small.alert
          p= error
      .cell.small-6
        label
          | Username
          input(type="text" placeholder="Username" name="userName" value=values.userName)
          span.form-error(class={'is-visible': !!errors.userName})= errors.userName
      .cell.small-6
        label
          | Full name
          input(type="text" placeholder="Full name" name="fullName" value=values.fullName)
          span.form-error(class={'is-visible': !!errors.fullName})= errors.fullName
      .cell.small-6
        label
          | Password
          input(type="password" placeholder="Password" name="password")
          span.form-error(class={'is-visible': !!errors.password})= errors.password
      .cell.small-6
        label
          | Confirm password
          input(type="password" placeholder="Confirm password" name="confirmPassword")
          span.form-error(class={'is-visible': !!errors.confirmPassword})= errors.confirmPassword
      .grid-x.grid-margin-x.align-center
        .cell.auto.text-center
          button.button.warning(type="submit")
            | Register
