form(action=urlFor("task-new.post") method="post")
  .grid-container
    .grid-y.grid-padding-y
      each error in baseErrors
        .callout.small.alert
          p= error
      |
      .cell.small-6
        label
          | Title
          input(type="text" placeholder="Title" name="title" required value=values.title)
          span.form-error(class={'is-visible': !!errors.title})= errors.title
      |
      .cell.small-6
        label
          | Tags
          input#task-tags(type="text" name="tags" value=values.tags)
          span.form-error(class={'is-visible': !!errors.tags})= errors.tags
      |
      .cell.small-6
        label
          | Description
          textarea(placeholder="Description" name="description" rows="6" required)= values.description
          span.form-error(class={'is-visible': !!errors.description})= errors.description
      |
      .cell.small-6

        label
          | Due date
          input(type="date" name="dueDate" min=currentDate value=values.dueDate)
          span.form-error(class={'is-visible': !!errors.dueDate})= errors.dueDate
      |
      .cell.small-6
        label
          | Estimation
          input(type="text" name="estimation" value=values.estimation)
          span.form-error(class={'is-visible': !!errors.estimation})= errors.estimation
      |
      .cell.small-6
        label
          | Status:
          select(name="taskStatus")
            option(selected=(values.taskStatus === ''))
              |
            for taskStatus in taskStatuses
              option(value=taskStatus._id selected=(taskStatus._id.equals(values.taskStatus && values.taskStatus._id)))
                = taskStatus.value
          span.form-error(class={'is-visible': !!errors.taskStatus})= errors.taskStatus
      |
      .cell.small-6
        label
          | Priority:
          select(name="priority")
            option(selected=(values.priority === ''))
              |
            for priority in priorities
              option(value=priority._id selected=(priority._id.equals(values.priority && values.priority._id)))
                = priority.value
          span.form-error(class={'is-visible': !!errors.estimation})= errors.estimation
      |
      .grid-x.grid-margin-x.align-center
        .cell.auto.text-center
          button.button.success(type="submit")
            | Create task
        .cell.auto.text-center
          a.button.alert(href=urlFor('index.get'))
            | Cancel
