.grid-x.grid-margin-x.margin-horizontal-1
  if edit
    button.button.success(type="submit") Save
    a.cell.shrink.button.alert(href=urlFor("task-view.get", { id: task.numberId })) Cancel
  else
    a.cell.shrink.button.warning(href=urlFor("task-edit.get", { id: task.numberId })) Edit
    form.cell.shrink(method="post" action=urlFor("task-delete.post", { id: task.numberId }))
      button.button.alert(type="submit") Delete

h5.font-bold Status
if edit
  select(name="taskStatus")
    for status in taskStatuses
      option(value=status._id selected=(task.taskStatus._id.equals(status._id)))
        = status.value
  span.form-error(class={'is-visible': !!errors.status})= errors.status
else
  p.padding-left-1= task.taskStatus.value

h5.font-bold Priority
if edit
  select(name="priority")
    option(selected=(!task.priority))
      |
    for priority in priorities
      option(value=priority._id selected=(task.priority._id.equals(priority._id)))
        = priority.value
  span.form-error(class={'is-visible': !!errors.priority})= errors.priority
else
  p.padding-left-1= task.priority.value

h5.font-bold Estimation
if edit
  p= JSON.stringify(task)
  input(type="text" name="estimation" value=task.estimationValue)
  span.form-error(class={'is-visible': !!errors.estimation})= errors.estimation
else
  p.padding-left-1= task.estimationValue

h5.font-bold Tags
if edit 
  input#tags(type="text" name="tags" value=task.formattedTags)
  span.form-error(class={'is-visible': !!errors.tags})= errors.tags
else
  p.padding-left-1
    each tag in task.tags
      span.label.secondary
        =tag.value
      | 


h5.font-bold Creator
p.padding-left-1.font-bold= task.creator.userName

h5.font-bold Created at
p.padding-left-1 Created at

h5.font-bold Updated at
p.padding-left-1 Updated at
