if edit
  h1.text-center Task ##{task.numberId}
else
  h1.text-center Task ##{task.numberId} "#{task.title}"

include ./base-errors

if edit
  h5.font-bold Title
  input(type="text" placeholder="Title" name="title" required value=task.title)
  span.form-error(class={'is-visible': !!errors.title})= errors.title

h5.font-bold Description
if edit
  textarea(placeholder="Description" name="description" rows="6" required)= task.description
  span.form-error(class={'is-visible': !!errors.description})= errors.description
else
  p.padding-left-1= task.description

h5.font-bold Attachments
.grid-y.margin-1
  each attachment in task.attachments
    include ./attachment-row
  button.cell.small-4.button(data-open="attachmentNewModal") New Attachment

h5.font-bold Comments
include ./task-comments
