.callout.flex-container.flex-dir-row
  .flex-child-auto.padding-1
    h4= task.title
    p= task.description
    .grid-x.align-middle
      .cell.small-3.text-left
        small
          | Due date:
          = task.dueDate ? moment(task.dueDate).calendar() : ' - '
      .cell.auto
        each tag in task.tags
          if tag
            span.label.secondary
              =tag.value
            | 
      .cell.auto
        small 
          | Priority:
          = task.priority.value
  .flex-child-shrink.align-self-middle.padding-1
    a.button(href=urlFor('task-view.get', { id: task.numberId })) View
