.grid-container.text-left
  .cell.small-6
    label
      | Due date from
      input(form=formId type="date" name="fromDueDate" value=queryValues.fromDueDate)
      span.form-error(class={'is-visible': !!errors.fromDueDate})= errors.fromDueDate
  |
  .cell.small-6
    label
      | Due date to
      input(form=formId type="date" name="toDueDate" value=queryValues.toDueDate)
      span.form-error(class={'is-visible': !!errors.toDueDate})= errors.toDueDate
  |
  .cell.small-6
    label
      | Tags
      input#tags(form=formId type="text" name="tags" value=queryValues.tags)
      span.form-error(class={'is-visible': !!errors.tags})= errors.tags
  |
  .cell.small-6
    label
      | Priority
      select(form=formId name="priority")
        option(selected=(queryValues.priority === ''))
          |
        for priority in priorities
          option(value=priority._id selected=(queryValues.priority == priority._id))= priority.value
      span.form-error(class={'is-visible': !!errors.priority})= errors.priority
  |
  .cell.small-6
    label
      | Status
      select(form=formId name="taskStatus")
        option(selected=(queryValues.taskStatus === ''))
          |
        for taskStatus in taskStatuses
          option(value=taskStatus._id selected=(queryValues.taskStatus == taskStatus._id))= taskStatus.value
      span.form-error(class={'is-visible': !!errors.taskStatus})= errors.taskStatus
