if currentUser
  li.menu-text= currentUser.userName
  li: form(action=urlFor('logout.post') method="post")
    button.button.alert(type="submit")
      | Log out
else
  li: a.button.success(href=urlFor('login.get'))
    | Log in
  li: a.button.warning(href=urlFor('register.get'))
    | Register
